#divOops {
	width: 400px;
	margin: auto;
	padding-left: 165px;
	padding-left: 185px;
}

.stage {
	perspective: 9999px;
	transform-style: preserve-3d;
}

.layer {
	position: absolute;
	transform-style: preserve-3d;
	animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s, o_O 0.1s 1;
	animation-fill-mode: forwards;
	transform: rotateY(-35deg) rotateX(15deg) translateZ(0);
	text-shadow: 0 1px 0 #ccc, 0 1px 0 #c9c9c9, 0 3px 0 #bbb, 0 3px 0
		#b9b9b9, 0 4px 0 #aaa, 0 14px 14px rgba(0, 0, 0, 0.1);
}

.layer:after {
	font-size: 3em;
	width: 300px;
	text-align: center;
	content: 'OOPS !';
	position: absolute;
	color: #FFFFFF;
	padding-top: 145px;
}

$
i: 1; $NUM_LAYERS: 20; @for $i from 1 through $NUM_LAYERS { .
	layer: nth-child(#{$ i
}

)
:after {
	transform: translateZ(($ i - 1)* -2px);
}

}
@
keyframes ಠ_ಠ { 100% {
	transform: rotateY(-30deg) rotateX(-15deg);
}

}
@
keyframes o_O { 100% {
	opacity: 1;
}
}