.Text3D {
	text-align: center;
	font-family: Helvetica;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0
		#b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px
		rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px
		rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px
		rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

body {
	background: linear-gradient(to left, lightgreen, #1F971F);
}

h1 {
	font-size: 10em;
	margin-top: 40px;
	margin-bottom: 0px;
	color: #fff;
}

h2 {
	font-size: 3em;
	padding-top: 150px;
	margin-bottom: 20px;
	color: #fff;
}

h3 {
	font-size: 5em;
	margin-top: 0px;
	margin-bottom: 20px;
	color: #FFF;
}

#span1 {
	color: #eeeeec;
}

#p1 {
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 2px 2px 5px black;
}

a {
	text-decoration: none;
	color: #2e3436;
}

a:HOVER {
	font-size: 20px;
}