.btn {
	font-family: Exo, cursive;
}

.has-error .form-control {
	border-color: #FB2929;
	border-left-width: 2.5px;
}

.has-error .form-control-feedback {
	color: #FB2929;
}

.input-group-addon {
	background: linear-gradient(to left, lightgreen, green);
	color: white;
	text-shadow: 2px 2px 5px black;
}

.has-error .input-group-addon {
	color: #FB2929;
	border-color: #000000;
}

.btn-success {
	background: linear-gradient(to right, lightgreen, green);
}

.btn-success:hover {
	background: linear-gradient(to left, lightgreen, green);
}

.btn-cancel { /*esta clase no es de bootstrap*/
	color: white;
	background: linear-gradient(to left, #FD5959, #FB2929);
}

.btn-cancel:hover {
	color: white;
	background: linear-gradient(to right, #FD5959, #FB2929);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	color: #4EC11E;
	cursor: pointer;
}

.nav>li>a {
	color: #777;
}

pre{
	
	border-width: 0px;
	background-color: transparent;
}

@media screen and (max-width: 767px){
	
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>pre {
    color: #9d9d9d;
}
}

