.jumbotron {
	background: linear-gradient(to left, lightgreen, #1F971F);
	text-shadow: 2px 2px 5px gray;
	color: #fff;
	cursor: default;
}

#logoutUser {
	margin-right: 10%;
}

#modal_div a {
	text-decoration: none;
}

.custom-a {
	cursor: pointer;
}

#btn2 {
	margin-left: 10px;
}

.allInLine li {
	display: inline;
}

.custom-btn-icon{
	
	top: 2px;
	font-size: 17px;
}

@media screen and (max-width:360px) {
	
	.custom-btn-icon {
	top: 2px;
	font-size: 14px;
}
	.btn {
		font-size: 12px;
	}
	
}

#p_about, #recoverSuccsessMsgOn, #passwordChangedOn {
	font-family: Dosis, sans-serif;
	font-size: 1.3em;
}

@media screen and (max-width:410px) {
	#about_table th, td {
	width: 30%;
}

#about_table th {
	font-size: 12px;
}

#about_table td {
	font-size: 10px;
}

#p_about {
	font-size: 1em;
}

#recoverSuccsessMsgOn{
	font-size: 0.7em;
}
}

@media screen and (max-width:270px) {
	#btn2 {
		margin-right: 8px;
		margin-top: 10px;
	}
	.allInLine li {
		display: block;
	}
}

.btn-primary {
	color: #fff;
	background: linear-gradient(black, gray);
	border-width: medium;
	border-color: #ffffff
}

.btn-primary.focus, .btn-primary:focus {
	color: #73d216;
	background: linear-gradient(white, lightgray);
	border-color: #000000
}

.btn-primary:hover {
	transition-duration: 0.2s;
	color: #73d216;
	background: linear-gradient(white, lightgray);
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
	border-color: #000000
}

/*login modal*/
.modal-header, .close {
	font-family: Cabin Sketch, cursive;
	color: white !important;
	text-align: center;
	font-size: 30px;
	background: linear-gradient(to right, lightgreen, green);
}

h4{
	
	background-color: transparent;
	border-width: 0px;
}

.modal-footer {
	background-color: #f9f9f9;
}
/*login modal*/

.title {
	font-family: Cabin Sketch, cursive;
}

.subTittle {
	font-family: Indie Flower, cursive;
}

#recoverSuccsessMsgOn {
	font-family: Dosis, sans-serif;
	font-size: 1em;
}

h1, h3 {
	text-align: center;
}

#form-content {
	width: 300px;
	margin-left: 8%;
}

#addNewContact {
	display: none;
}

#addContact {
	background-color: transparent;
	
}

#addContact:hover {
	color: green;
}

.hiddenElement {
	display: none;
}

#aboutUsGlyphicon {
	font-size: 22px;
}

#addMail {
	color: gray;
	display: none;
}

.input-group-addon{
	font-size: 17px;
}

.fa-envelope{
	font-size: 13px;
}

#addNumber {
	color: gray;
	dislay: none;
}

#addMail:hover {
	color: green;
}

#addNumber:hover {
	color: green;
}

#table_head {
	background-color: #56C256;
	font-family: sans-serif;
}

.table_field {
	border-width: 0px;
	background-color: #f9f9f9;
	margin-left: 5px;
	margin-bottom: 7px;
	min-width: 120px;
}

.contact-info {
	text-align: left;
	font-size: 0.9em;
	margin-bottom: -12px;
	font-family: Roboto Slab, serif;
	color: #333;
}

.select_div {
	text-align: left;
}

.contact_update, .contact_remove {
	vertical-align: middle;
	color: gray;
	font-size: 3em;
	cursor: pointer;
}

th {
	font-family: Exo, cursive;
	font-size: 16px;
	text-align: center;
	cursor: default;
	color: white;
}

#about_table th {
	color: white;
	background-color: #29AD29;
	font-family: Cabin Sketch, cursive;
}

#about_table th, td {
	width: 25%;
}

#about_table a {
	color: green;
}

#about_table a:hover {
	font-weight: bold;
}

td {
	text-align: center;
	background-color: #F9F9F9;
}

.nav-tabs b {
	font-family: Exo, cursive;
}

#search {
	width: 64px;
	box-sizing: border-box;
	border: 1.2px solid #ccc;
	border-radius: 4px;
	border-bottom-style: none;
	font-size: 16px;
	cursor: pointer;
	background-color: white;
	background-image: url("../img/search.png");
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

#search:focus {
	border: 1.5px solid #ccc;
	border-bottom: 1.5px dotted #ccc;
	width: 100%;
	cursor: text;
}

.highlight {
	color: #5DC632;
}

.material-icons{
	
	position: relative;
    top: 1px;
}

.modal-header i{
	   top: 4px;
	}

