.bubblingG {
	text-align: center;
	width: 120px;
	height: 75px;
	margin: auto;
	padding-top: 15em;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	margin: 38px auto;
	background: #4ec11e2924071;
	border-radius: 75px;
	-o-border-radius: 75px;
	-ms-border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	animation: bubblingG 1.5s infinite alternate;
	-o-animation: bubblingG 1.5s infinite alternate;
	-ms-animation: bubblingG 1.5s infinite alternate;
	-webkit-animation: bubblingG 1.5s infinite alternate;
	-moz-animation: bubblingG 1.5s infinite alternate;
}

#bubblingG_1 {
	animation-delay: 0s;
	-o-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
}

#bubblingG_2 {
	animation-delay: 0.45s;
	-o-animation-delay: 0.45s;
	-ms-animation-delay: 0.45s;
	-webkit-animation-delay: 0.45s;
	-moz-animation-delay: 0.45s;
}

#bubblingG_3 {
	animation-delay: 0.9s;
	-o-animation-delay: 0.9s;
	-ms-animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
}

@
keyframes bubblingG { 0% {
	width: 15px;
	height: 15px;
	background-color: rgb(100, 219, 108);
	transform: translateY(0);
}

100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		transform: translateY(-20px);
	}
}

@-o-keyframes bubblingG {
	0% {
	width: 15px;
	height: 15px;
	background-color: rgb(100, 219, 108);
	-o-transform: translateY(0);
	}

	100% {
		width:36px; 
		height:36px; 
		background-color:rgb(255,255,255); 
		transform:translateY(-32px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 15px;
	    height: 15px;
	   background-color: rgb(100, 219, 108);
	    -ms-transform: translateY(0);
	}

	100% {
		width: 36px;
		height: 36px;
		background-color:rgb(255,255,255);
		-ms-transform: translateY(-32px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 15px;
	    height: 15px;
	    background-color: rgb(100, 219, 108);
	    -webkit-transform: translateY(0);
	}

	100% {
		width: 36px;
		height: 36px;
		background-color:rgb(255,255,255);
		-webkit-transform: translateY(-32px);
	}
}

@-moz-keyframes bubblingG {
	0% {
		width: 15px;
	    height: 15px;
	    background-color: rgb(100, 219, 108);
	    -moz-transform: translateY(0);
	}

	100% {
		width: 36px;
		height: 36px;
		background-color:rgb(255,255,255);
		-moz-transform: translateY(-32px);
	}
}