.errorField {
	display: none;
	color: #FB2929;
	text-shadow: #babdb6;
}

#loginError {
	color: #ef2929;
	font-size: 16px;
	text-align: center;
	text-shadow: black;
	font-weight: bolder;
	opacity: 0.5;
}

#show_psw {
	background: linear-gradient(to right, lightgreen, green);
	display: none;
	cursor: pointer;
}

#show_psw:hover {
	background: linear-gradient(to left, lightgreen, green);
}

.field_success {
	border-color: green;
	color: green;
}